# Unity 기본 설정
[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Oo]bj/
UserSettings/

# Visual Studio 관련 파일
.vs/
*.csproj
*.sln
*.user
*.unityproj

# 기타 불필요한 파일
.DS_Store
*.swp
*.bak
*.lock
*.pid
*.seed
*.log
